@import 'bootstrap/bootstrap.less';
@import 'bootstrap/responsive.less';

header {
	height: 44px;
}

#introTop {
	background: #87C06B;
	min-height: 250px;
	text-align: center;
	position: relative;
	.wrapper {
		margin-top: 50px;
		.logo {
			margin: 0 auto;
			max-width: 350px;
			width: 100%;
			position: relative;
			display: block;
		}
		span {
			font-size: 24px;
			font-weight: bold;
			margin-top: 20px;
			display: block;
		}
	}
}

.container {
	.loginForm {
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
	#categoryList {
		li {
			list-style-type: none;
		}
	}
}

#dropbox{
	border: 3px dashed #cddfd3;
	position: relative;
	margin:80px auto 90px;
	min-height: 220px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 100%;
    max-width: 600px;
    &.hover {
    	background: #eee;
    }
	.message{
		font-size: 24px;
		color: #999;
	    text-align: center;
	    padding: 110px 20px 0;
	    display: block;
	}
	/*-------------------------
		Image Previews
	--------------------------*/
	.preview{
		width:245px;
		height: 215px;
		float:left;
		margin: 55px auto 0;
		position: relative;
		text-align: center;
		img{
			max-width: 240px;
			max-height:180px;
			border:3px solid #fff;
			display: block;
			box-shadow:0 0 2px #000;
		}
		&.done {
			margin-bottom: 15px;
			.uploaded{
				display: block;
			}
			.progress{
				width:100% !important;
			}
			.imageHolder{
				display: inline-block;
				position:relative;
			}
			/*-------------------------
				Progress Bars
			--------------------------*/
			.progressHolder{
				position: absolute;
				background-color:#252f38;
				height:12px;
				width:100%;
				left:0;
				bottom: 0;
				box-shadow:0 0 2px #000;
				.progress{
					background-color:green;
					// background-color:#2586d0;
					position: absolute;
					height:100%;
					left:0;
					width:0;
					// box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
					-moz-transition:0.25s;
					-webkit-transition:0.25s;
					-o-transition:0.25s;
					transition:0.25s;
				}
			}
		}
	}
	.uploaded{
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background: url('/images/done.png') no-repeat center center rgba(255,255,255,0.5);
		display: none;
	}
}






