@import 'bootstrap/bootstrap.less';
@import 'bootstrap/responsive.less';

body {
	background: #f9f9f9;
	h1,h2,h3,h4,h5,h6 {
		font-weight: 200;
	}
}

/* Main styles */
header {
	height: 44px;
	.navbar {
		#logoWrapper {
			display: inline;
			img {
				height: 23px;
			}
		}
		.nav {
			li {
				a {
					i {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

.topImage {
	min-height: 530px;
	text-align: center;
	position: relative;
	background: url('/bytarna/images/front.jpeg') no-repeat center;
	background-size: cover;
	.logo {
		position: absolute;
		top: 30%;
		img {
			width: 100%;
		}
	}
}

.startTop {
	background: @mainColor;
	padding: 5% 0;
	img {
		width: 100%;
	}
	h2 {
		text-align: center;
	}
}

.container {
	.finishedSuccess{
		background-color: #333;
		width: 200px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -10%;
		margin-left: -100px;
		padding: 20px;
		.opacity(60);
		.border-radius(10px);
		text-align: center;
		font-weight: bold;
		color: @white;
		display: none;
		i {
			display: block;
			margin: 0 auto 10px;
		}
	}
	#teaserMessageForm {
		position:fixed; 
		z-index: 2000;
		bottom: -250px;
		right:20px;
		height: 250px;
		width: 400px;
		padding: 10px;
		background: #fff;
		border: 1px solid @grayLight;
		.box-sizing(border-box);
		.transition(all 0.3s);
		display: none;
		&.visible {
			bottom: 0px;
			.transition(ease-in all 0.3s);
			display: block;
		}
		.close {
			position: absolute;
			top: 5px;
			right: 10px;
		}
		h3 {
			max-width: 100%;
		}
		textarea {
			width: 90%;
		}
	}
	&.top {
		margin-top: 20px;
		.row-fluid {
			.span4 {
				p {
					padding: 30px 20px;
					font-size: 20px;
					color: #333;
				}

				&.info-first {
					background: @secondColor;
				}
				&.info-second {
					background: @thirdColor; 
				}
				&.info-last {
					background: @grayLighter;
				}
			}
		}
	}
	&.resultsContainer {
		&.loading {
			.loader {
				display: block;
			}
		}
		.loader {
			background: url('/bytarna/images/loader.gif') no-repeat 0 0;
			width: 40px;
			height: 40px;
			margin: 0 auto;
			display: none;
		}
	}
	#more {
		margin: 0 auto;
		display: block;
		width: 80px;
		text-align: center;
		i {
			display: block;
			margin: 0 auto;
		}
	}
	.noResult {
		font-style: italic;
		color: @grayLight;
	}
	.profileSidebar {
		img {
			width: 100%;
		}
	}
	.itemSidebar {
		img {
			width: 100%;
			margin-bottom: 10px;
		}
		span {
			display: block;
		}
		a {
			display: block;
		}
	}
	.guestbook {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			span {
				p {
					margin: 0;
					color: @grayLight;
					font-style: italic;
					font-size: @fontSizeSmall;
				}
			}
			.comment-child {
				border-top: 1px solid #E3E3E3;
				margin-top: 10px;
				padding: 10px 0 0 5%;
			}
		}
	}
	.item {
		width: 23.304255%;
		margin: 0 0.8% 4%;
		height: 290px;
		&:first-child {
			margin: 0 0.8% 2%;
		}
		.thumbnail {
			a {	
				&.edit {

				}
				&.img {

					img {
						&:hover {
							.opacity(70);
						}
					}
				}
			}
			h4 {
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 15px;
				a {
					text-align: center;
					display: block;
					color: @textColor;
				}
			}
			span {
				display: block;
				font-size: 12px;
				line-height: 16px;
				font-style: italic;
				color: @grayLight;
				&.icons {
					text-align: center;
					margin-bottom: 10px;
					a {
						margin-right: 15px;
						&.like {
							margin-right: 0;
						}
					}
				}
				&.date {
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}
	}
	#categoryList {
		li {
			width: 23.304255%;
			list-style-type: none;
			float: left;
			border: 1px solid @white;
			position: relative;
			margin: 0 0.8% 2%;
			overflow: hidden;
			a {
				padding: 0;
				margin: 0;
				.border-radius(0px);
				&:hover {
					.opacity(70);
				}
				div {
					width: 100%;
					margin: 0;
					padding: 10px;
					position: absolute;
					bottom: 0;
					.border-radius(0px);
					background: @black;
					color: @white;
				}
			}
		}
	}
}


footer {
	margin-top: 40px;
	background: none;
	color: @black;
	.container {
		padding: 20px 10px;
		border-top: 1px solid @grayLighter;
		position: relative;
		.clearfix();
		h5 {
			color: @black;
			margin: 0;
			float: left
		}
		ul {
			position: absolute;
			right: 0;
			top: 20px;
			.clearfix();
			list-style-type: none;
			padding: 0;
			li {
				float: left;
				margin: 0 10px

			}
		}
	}
}



// Form styles
.editForm {
	form {
		
	}
}
// validation errors
.control-group {
	.controls {
		label.error {
			display: inline;
			color: #B94A48;
			&.checked {
				color: @green;
			}
		}
	}
}




/* Image upload */
#dropbox{
	border: 3px dashed @thirdColor;
	position: relative;
	margin:80px auto 90px;
	min-height: 220px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 100%;
    max-width: 600px;
    &.hover {
    	background: @grayLighter;
    }
	.message{
		font-size: 24px;
		color: @grayLight;
	    text-align: center;
	    padding: 110px 20px 0;
	    display: block;
	}
	/*-------------------------
		Image Previews
	--------------------------*/
	.preview{
		left: 50%;
		width:245px;
		height: 215px;
		float:left;
		margin: 55px 0 0 -122px;
		position: relative;
		text-align: center;
		img{
			max-width: 240px;
			max-height:180px;
			border:3px solid @white;
			display: block;
			box-shadow:0 0 2px #000;
		}
		&.done {
			margin-bottom: 15px;
			.uploaded{
				display: block;
			}
			.progress{
				width:100% !important;
			}
			.imageHolder{
				display: inline-block;
				position:relative;
			}
			/*-------------------------
				Progress Bars
			--------------------------*/
			.progressHolder{
				position: absolute;
				background-color: #252f38;
				height:12px;
				width:100%;
				left:0;
				bottom: 0;
				box-shadow:0 0 2px @black;
				.progress{
					background-color: @mainColor;
					background-image: none;
					// background-color:#2586d0;
					position: absolute;
					left:0;
					width:0;
					height:100%;
					// box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
					-moz-transition:0.25s;
					-webkit-transition:0.25s;
					-o-transition:0.25s;
					transition:0.25s;
					.border-radius(0px);
				}
			}
		}
	}
	.uploaded{
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background: url('/bytarna/images/done.png') no-repeat center center rgba(255,255,255,0.5);
		display: none;
	}
}



